<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <!-- flash_base_dspauto -->
        <title>百度网盟推广</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        {{timeStatistic}}
        <link rel="stylesheet" href="{{baseCssUrl}}" />
        <style>{{style}}</style>
    </head>
    <body>
        {{html}}
        <script src="{{baseJsUrl}}"></script>
        <script>
            var config = {{config}};
            var antiArray = {{antiArray}};
            {{common.js}}
        </script>
    </body>
</html>