<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>百度网盟推广</title>
        <!-- tuwen_sdk_banner_base_extended -->
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="{{baseCssUrl}}" />
        <style>{{style}}</style>
    </head>
    <body>

        {{html}}

        <script type="text/javascript" src="{{baseJsUrl}}"></script>
        <script type="text/javascript">
            var antiArray = {{antiArray}};
        </script>
        <script type="text/javascript" src="{{dupDomain}}/cpro/ui/noexpire/js/rs/business/1.0.0/anticheate_mob.min.js"></script>
        <script>{{page.js}}</script>
    </body>

</html>
