<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <!-- 50025 -->
        <title>百度网盟推广</title>
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="https://cpro.baidustatic.com/cpro/ui/noexpire/css/2.1.1/template.min.css">
        <style>{{style}}</style>
    </head>
    <body>

        {{html}}

        <script type="text/javascript" src="{{baseJsUrl}}"></script>
        <script type="text/javascript">
            var antiArray = {{antiArray}};
        </script>
        {{winnotice}}
        <script type="text/javascript" src="{{anticheatMobJsUrl}}"></script>
        <script>{{page.js}}</script>
    </body>

</html>
