<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <!-- tuwen_app_fulllunbo -->
        <title>百度网盟推广</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width,
            initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,
            user-scalable=no">
        {{timeStatistic}}
        <link rel="stylesheet" href="{{baseCssUrl}}">
        <style>{{style}}</style>
    </head>
    <body>
        {{html}}
        <script type="text/javascript" src="{{baseJsUrl}}"></script>
        <script type="text/javascript">
            var antiArray = {{antiArray}};
        </script>
        <script type="text/javascript" src="{{dupDomain}}/cpro/ui/noexpire/js/rs/business/1.0.0/anticheat_mob.min.js"></script>
        <script type="text/javascript" src="{{dupDomain}}/cpro/ui/noexpire/js/3.2.4/rs_js/tuwen_app_fulllunbo_page.min.js"></script>
    </body>
</html>