<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <!--20015-->
        <title>百度网盟推广</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <link rel="stylesheet" href="{{baseCssUrl}}">
        <style type="text/css">{{style}}</style>
    </head>
    <body>
        {{html}}
        <script src="{{baseJsUrl}}"></script>
        <script type="text/javascript">
            var config = {{config}};
            var antiArray = {{antiArray}};
        </script>
        <script type="text/javascript" src="{{commonJsUrl}}"></script>
        <script type="text/javascript" src="{{anticheatMobJsUrl}}"></script>
        <script type="text/javascript">
        oojs.config({basePath: "{{dupDomain}}/cpro/ui/noexpire/js/3.2.4/rs_js/"});
        </script>
        {{winnotice}}
        <script type="text/javascript">{{page.js}}</script>
    </body>

</html>