<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>百度网盟推广</title>
        <!-- image_sdk_banner_base -->
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        {{timeStatistic}}
        <link rel="stylesheet" href="{{baseCssUrl}}" />
        <style>{{style}}</style>
    </head>
    <body>

        {{html}}

        <script type="text/javascript" src="{{baseJsUrl}}"></script>
        <script type="text/javascript">
         var config = {{config}};
         var antiArray = {{antiArray}};
        </script>
        <script type="text/javascript" src="{{dupDomain}}/cpro/ui/noexpire/js/rs/business/1.0.0/anticheat_mob.min.js"></script>
        <script type="text/javascript">{{page.js}}</script>
        <script type="text/javascript">
            // 临时监控，预计9月底下线，@wangyungan
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement('script');
                hm.src = '//hm.baidu.com/hm.js?f5bf2d0b4c6d8365c6261f4387de313b';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <script type="text/javascript" src="{{feedbackMobile}}"></script>
        <script type="text/javascript">
        var templateid = 'image_sdk_banner_base';
        </script>
    </body>

</html>
