<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>百度网盟推广</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <link rel="stylesheet" href="http://cpro.baidustatic.com/cpro/ui/noexpire/css/2.0.0/template.css" />
        <style>.container{padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;margin-top:0px;border-style:solid;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;border-color:#ffffff;width:300px;height:250px;background-color:#ffffff;position:relative;overflow:hidden;float:none;}.item{width:300px;height:250px;}.item a{width:300px;height:250px;position:absolute;opacity:0;top:0;left:0;display:block;z-index:9;background-color:#ffffff;}.item a:hover{}.item div{text-align:center;}.column-space{width:20px;height:0px;}.row-space{width:100%;height:0px;}#flashDiv_0{margin-top:12.5px;}</style>
    </head>
    <body>
        <div  class="container"  id="container" ><div  class="item" ><a  style=""  target="blank"  title=""  href="null"  id="res0" ></a><div  style=""  id="flashDiv_0" ><embed pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"wmode="opaque" quality="High"name="" src="http://ubmcmm.baidustatic.com/media/v1/0f000aRnZLzyWfULfrNrqf.swf?url_type=1&snapshot=&"width="300" height="225"scale="exactfit"allowfullscreen="" allowscriptaccess=""allownetworking=""flashvars=""></embed></div></div><a  class="bd-logo4"  href="http://wangmeng.baidu.com/"  title="百度网盟推广" >&nbsp;</a></div>
        <script src="http://cpro.baidustatic.com/cpro/ui/noexpire/js/2.0.1/oojs.js"></script>
        <script>
            var config = {"templateWidth":300,"templateHeight":250,"account":""};
            var antiArray = [30];
            try{document.execCommand("BackgroundImageCache",!1,!0)}catch(err){}oojs.config({basePath:"http://cpro.baidustatic.com/cpro/ui/noexpire/js/"}),oojs.loadScript("rs.business.anticheat");
        </script>
    </body>
</html>