<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <!--10012-->
        <title>百度网盟推广</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="{{baseCssUrl}}">
        <style type="text/css">{{style}}</style>
    </head>
    <body>
        {{html}}
        <script src="{{baseJsUrl}}"></script>
        <script type="text/javascript">
            var config = {{config}};
            var antiArray = {{antiArray}};
        </script>
        <script type="text/javascript" src="{{commonJsUrl}}"></script>
        <script type="text/javascript" src="{{anticheatMobJsUrl}}"></script>
        <script type="text/javascript">{{page.js}}</script>
        {{winnotice}}
    </body>
</html>