<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>百度网盟推广</title>
        <!-- image_wap_banner_lunbo -->
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        {{timeStatistic}}
        <link rel="stylesheet" href="{{baseCssUrl}}" />
        <link rel="stylesheet" type="text/css" href="{{dupDomain}}/cpro/ui/noexpire/css/2.0.4/image_wap_banner_lunbo.min.css">
        <style type="text/css">{{style}}</style>
    <body>
        {{html}}
    <script type="text/javascript" src="{{baseJsUrl}}"></script>
    <script type="text/javascript">

    var config = {{config}};
    var antiArray = {{antiArray}};
    </script>
        <script type="text/javascript" src="{{dupDomain}}/cpro/ui/noexpire/js/rs/business/1.0.0/anticheat_mob.min.js"></script>
<script>{{page.js}}</script>
        <script type="text/javascript" src="{{feedbackMobile}}"></script>
    </body>
</html>