<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!--10004-->
        <title>百度网盟推广</title>
        <link rel="stylesheet" href="{{baseCssUrl}}">
        <style type="text/css">{{style}}</style>
    </head>
    <body>
        {{html}}
        <script type="text/javascript" src="{{baseJsUrl}}"></script>
        <script type="text/javascript">
            var config = {{config}};
            var antiArray = {{antiArray}};          
        </script>        
        <script type="text/javascript" src="{{anticheatJsUrl}}"></script>
        {{winnotice}}
        <script type="text/javascript" src="{{feedbackPC}}"></script>
    </body>
</html>