<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <!--80001-->
        <title>百度网盟推广</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="{{baseCssUrl}}">
        <style type="text/css">{{style}}</style>
    </head>
    <body>
        {{html}}
        <script type="text/javascript" src="{{dupDomain}}/cpro/ui/noexpire/js/2.0.0/slider.js"></script>
        <script type="text/javascript" src="{{baseJsUrl}}"></script>
        <script type="text/javascript">
            var config = {{config}};
            var antiArray = {{antiArray}};
        </script>
        <script type="text/javascript">{{page.js}}</script>
        <script type="text/javascript" src="{{anticheatJsUrl}}"></script>
        {{winnotice}}
        <script type="text/javascript" src="{{feedbackPC}}"></script>
    </body>

</html>