<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- image_base -->
        <title>百度网盟推广</title>
        {{timeStatistic}}
        <link rel="stylesheet" href="{{baseCssUrl}}" />
        <style type="text/css">{{style}}</style>
    </head>

    <body>

        {{html}}

        <script type="text/javascript" src="{{baseJsUrl}}"></script>
        <script type="text/javascript">
            var config = {{config}};
            var antiArray = {{antiArray}};
            {{common.js}}
        </script>
        <script>
        var fbIcon = document.getElementById('fbIconDiv');
        var flowType = 1;
        if (fbIcon) {
            flowType = fbIcon.getAttribute('flowtype');
            document.write('<scr' + 'ipt src="{{dupDomain}}/cpro/ui/noexpire/js/rs/business/' + (parseInt(flowType, 10) === '2' ? 'feedbackPC' : 'feedbackMobile') + '.min.js"></scr' + 'ipt>');
        }
        </script>
    </body>

</html>